*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
   background-color: antiquewhite;
}

.container{
    width: 80%;
    padding: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
 }
 .list{
   
    width: 50%;
    display: flex;
    justify-content: space-evenly;
 }
 .logo{
    font-size: 40px;
 }
 .list li{
    list-style: none;
 }
 .list li a{
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
 }
 .list li a:hover{
    padding: 18px 18px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border-radius: 2px;
 }
 .card{
    display: flex;
    padding-top: 30px;
    width: 80%;
    margin: auto;
    gap: 30px;
 }
 .box img{
    width: 600px;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 5);
 }
 .a-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .title{
    padding: 10px;
    font-size: 40px;
 }
 .a-card p{
    line-height: 1.5;
    font-weight: 600;
    font-size: 18px;
 }
 h2{
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
    font-size: 30px;
    left: 50px;
  }
  .bigone{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }
  h3{
    padding: 20px;
    font-size: 25px;
  }
  a{
    line-height: 1.4;
    text-decoration: none;
    color: black;
  }
  ol li{
    font-size: 18px;
  }
  .pic{
    display: flex;
  }
  .pic img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  .contain-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contain-two{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contain-two li{
    list-style: none;
  }