* {

   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all .2s linear;
}

body {

   font-family: serif Georgia, 'Times New Roman', Times, serif;

}
main{
   background-color: antiquewhite;
}
.container{
   width: 80%;
   padding: 30px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 4px solid black;
}
.list{
  
   width: 50%;
   display: flex;
   justify-content: space-between;
}
.logo{
   font-size: 40px;
}
.list li{
   list-style: none;
}
.list li a{
   text-decoration: none;
   text-transform: uppercase;
   transition: all 0.3s ease;
}
.list li a:hover{
   padding: 18px 18px;
   text-transform: uppercase;
   background-color: black;
   color: white;
   border-radius: 2px;
}
.container-{
   height: 30vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 
}
.h2{
   padding: 20px;
   font-size: 30px;
}
.text{
   padding-bottom: 30px;
   font-size: 18px;
}
.box{
   width: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   padding: 10px 20px;
   height: 40px;
   background: #fff;
   border-radius: 30px;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.box:hover input{
   width: 400px;
}
.box input{
   width: 0;
   outline: none;
   border: none;
   font-weight: 500;
   transition: 0.8s;
   background: transparent;
}
.box a .fas{
   color: black;
   font-size: 18px;
}
.Container{
   max-width: 1200px;
   margin: auto;
   text-align: center;
   padding: 22px 20px;
}
.Container .box-container{
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax( 350px, 1fr));
   gap: 20px;
}
.Container .box-container .box-{
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
   display: none;
}
.Container .box-container .box-:nth-child(1),
.Container .box-container .box-:nth-child(2),
.Container .box-container .box-:nth-child(3){
   display: inline-block;
}



.Container .box-container .box- .image{
   margin-bottom: 20px;
   overflow: hidden;
   height: 250px;
   border-radius: 5px;

}
.Container .box-container .box- .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.Container .box-container .box-:hover .image img{
   transform: scale(1.1);
}
.Container .box-container .box- .content .text{
   font-size: 20px;
   line-height: 2;
   padding: 14px 0;
   color: black;
}
.Container .box-container .box- .content .btn{
   display: inline-block;
   padding: 10px 20px;
   color: black;
   border: 1px solid black;
   text-decoration: none;

}
.Container .box-container .box- .content .btn:hover{
   background-color: rgb(61, 96, 173);
   border-color: rgb(61, 96, 173);
   color: white;
}
#load-more{
   margin-top: 20px;
   display: inline-block;
   padding: 13px 20px;
   color: black;
   border: 1px solid black;
   background-color: #fff;
   cursor: pointer;
}
#load-more:hover{
   background-color: rgb(61, 96, 173);
   border-color: rgb(61, 96, 173);
   color: white;
}
.team{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   min-height: 100vh;
   background: antiquewhite;
}
.ourTeam{
   font-size: 40px;
   transition: 0.1s;
}
.ourTeam:hover{
   border-bottom: 5px solid black;
}
.contan{
   position: relative;
   width: 600px;
   height: 600px;
   border: 5px solid rgb(32, 15, 15);
   border-radius: 50%;
}
.contan .icon{
   position: relative;
   left: -50%;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.contan .icon .imgBx{
   position: absolute;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   transition: 0.5s;
   border: 1px solid #fff;
   box-shadow: 0 0 0 6px #222, 0 0 0 6px #fff;
   transform: rotate(calc(360deg/3 * var(--i)));
   transform-origin: 340px;
   z-index: 100;
   overflow: hidden;
}
.contan .icon .imgBx.active{
   box-shadow: 0 0 0 4px #222, 0 0 0 12px #ff1d50;
}
.contan .icon .imgBx img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   object-fit: cover;
   transform: rotate(calc(-360deg/3 * var(--i)));
   transition: 0.5s;
   filter: grayscale(1);
}
.contan .icon .imgBx.active img{
   filter: grayscale(0);
}
.ob{
   position: absolute;
   inset: 0;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}
.ob::before{
   content: '';
   position: absolute;
   inset: 60px;
   border: 4px solid transparent;
   border-left: 4px solid rgb(5, 234, 82);
   border-right: 4px solid rgb(18, 57, 31);
   border-radius: 50%;
   animation: animate_01 5s linear infinite;
   z-index: 1;
   pointer-events: none;
}
@keyframes animate_01{
   0%{
      rotate: 0deg;
   }
   100%{
      rotate: 360deg;
   }
}
.ob::after{
   content: '';
   position: absolute;
   inset: 120px;
   border: 4px solid transparent;
   border-left: 4px solid rgb(7, 4, 150);
   border-right: 4px solid rgb(131, 21, 120);
   border-radius: 50%;
   animation: animate_02 2.5s linear infinite;
   z-index: 1;
   pointer-events: none;
}
@keyframes animate_02{
   0%{
      rotate: 360deg;
   }
   100%{
      rotate: 0deg;
   }
}
.contentBx{
   position: absolute;
   transform: scale(0);
   transition: 0.5s;
   opacity: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.contentBx.active{
   transform: scale(1);
   opacity: 01;
   transition-delay: 0.5s;
}
.contentBx .card{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 15px;
}
.contentBx .card .imgBx{
   position: relative;
   width: 150px;
   height: 150px;
   border-radius: 10px;
   overflow: hidden;
}
.contentBx .card .imgBx img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.contentBx .card .textBx{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.contentBx .card .textBx h2{
   position: relative;
   font-size: 1.25rem;
   font-weight: 600;
   color: #222;
   line-height: 1em;
   text-transform: uppercase;
   text-align: center;
}
.contentBx .card .textBx h2 span{
   font-size: 0.65em;
   color: rgb(177, 15, 15);
   font-weight: 500;
   letter-spacing: 0.1em;
}
.contentBx .card .textBx .sci{
   position: relative;
   display: flex;
   gap: 7px;
   margin-top: 10px;
}
.contentBx .card .textBx .sci li{
   list-style: none;
}
.contentBx .card .textBx .sci li a{
   position: relative;
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #222;
   color: #fff;
   text-decoration: none;
   border-radius: 5px;
   transition: 0.5s;
}
.contentBx .card .textBx .sci li a:hover{
   background: #ff0000;
}








footer{
   background-color: antiquewhite;
   display: flex;
   width: 100%;
   justify-content: center;
   border-top: 2px solid black;
}
.main-content{
   display: flex;
   
}
.main-content .boxes{
   flex-basis: 50%;
   padding: 10px 20px;
}
.boxes h2{
   font-size: 1.125rem;
   font-weight: 600;
   text-transform: uppercase;
}
.boxes .content{
   margin: 20px 0 0 0;
}
.boxes .content p{
   text-align: justify;
}
.left .content .social{
   margin: 20px 0 0 0;
}
.left .content .social a{
   padding: 0 3px;
}
.left .content .social a span{
   height: 40px;
   width: 40px;
   background: #1a1a1a;
   line-height: 40px;
   text-align: center;
   font-size: 18px;
   border-radius: 5px;
   color: white;
   transition: 0.3s;
}
.left .content .social a span:hover{
   background: #ff0000;
}

